<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aviary.android.feather.sdk"
    android:versionCode="400"
    android:versionName="4.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <!-- The Aviary SDK doesn't support small screens -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />
 <!-- mandatory -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application>

        <!--
			Aviary SDK Main Activity.
			Our showcase app uses a modified version of the default
			FeatherActivity. By default a partner should user '.FeatherActivity'
			as entry point for the Aviary SDK
        -->
        <activity
            android:name="com.aviary.android.feather.sdk.FeatherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:hardwareAccelerated="true"
            android:label="Aviary SDK"
            android:process=":standalone"
            android:screenOrientation="unspecified"
            android:theme="@style/AviaryTheme.Dark.Transition"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="aviary.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="aviary.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="aviary.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <!--
		Aviary Cds Service is in charge of sync all the available
		online DLC contents within the android application.
		It's required by the Aviary SDK and it will run in a
		separated process 'aviarycds'
        -->
        <service
            android:name="com.aviary.android.feather.sdk.internal.cds.AviaryCdsService"
            android:process=":aviary_cds" >
            <intent-filter>
                <action android:name="aviary.intent.action.CDS_DOWNLOAD_START" />
                <action android:name="aviary.intent.action.CDS_RESTORE_USER_ITEMS" />
                <action android:name="aviary.intent.action.CDS_RESTORE_OWNED_PACKS" />
            </intent-filter>
        </service>
        <service
            android:name="com.aviary.android.feather.sdk.internal.cds.AviaryCdsAssetsDownloaderService"
            android:exported="false"
            android:process=":aviary_cds" >
            <intent-filter>
                <action android:name="aviary.intent.action.CDS_DOWNLOAD_EXTRA_ASSETS" />
            </intent-filter>
        </service>
        <!--
		The AviaryCdsReceiver handles the downloaded contents (throught the
		android DownloadManager)
        -->
        <receiver
            android:name="com.aviary.android.feather.sdk.internal.cds.AviaryCdsReceiver"
            android:exported="true"
            android:permission="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS"
            android:process=":aviary_cds" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>