<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adobe.creativesdk.foundation.auth"
    android:versionCode="1"
    android:versionName="0.3.94" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="com.adobe.creativesdk.foundation.internal.auth.AdobeAuthSignInActivity"
            android:exported="false"
            android:label="@string/creative_cloud"
            android:multiprocess="true"
            android:theme="@style/AdobeCSDKThemeActivity"
            android:windowSoftInputMode="stateUnchanged|adjustPan|adjustResize" >
        </activity>
    </application>

</manifest>